# === Database - Windows Authentication (Named Instance) ===
DATABASE_URL="sqlserver://DESKTOP-8FRU194\\MSSQLSERVER01;database=QuanLyDatLichKhamBenh;integratedSecurity=true;trustServerCertificate=true;encrypt=false"

# JWT
JWT_SECRET=superlongsecretkey_medbook_2026_very_secure_random_key_here

# Server
PORT=5000
NODE_ENV=development